@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:"Segoe UI";
}
.container{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    background-color: #313131;

}
.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#313131;
}
.title{
    margin-right: 28px;
    width: 250px;
}
.title h1{
    color: #99D8BA;
    font-size: 30px;
}
.title p {
    font-size: 18px;
}
.title-2{
    display: none;
}
.title-2 h1{
    color: #99D8BA;
    font-size: 40px;
}
.title-2 p {
    font-size: 20px;
}
.logo{
    width: 100px;
    cursor: pointer;
    margin: 30px ;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align:left;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    color:#707070;
    font-size: 20px;
}
nav ul li button{
    width: 10px;
    text-decoration: none;
    font-size: 20px;
    padding-top: 2px;
    background: none;
    color:#719E89;
    border: none;
    cursor: pointer;
    outline: inherit;
}

nav ul li a:hover{
    color: white;
}
.row{
    position: relative;
}
.Holder{
    margin: 0 auto;
    width: 95%;
    min-height:80vh;
    position: relative;
    background-size: cover;
}
.Holder .Holder-pic{
    width: 90%;
}
.info{
    position: absolute;
    bottom: 1.25rem;
    max-width: 300px;
    max-height: 300px;
    padding: 1.05rem;
;
    background: rgba(19,107,73, 0.7);
    backdrop-filter: blur(10px);
}
.info  h1 {
    color: white;
}
.info  p {
    font-size: 14px;
    color: white;
}
.nav-under{
    display:flex ;
    flex-direction:row;
    width: 95%;
    margin: 0 auto;
    justify-content:space-between ;
    margin-top: 10px;

}
.nav-under h3{
    margin-left: 10px;
    font-size: 24px;
    opacity: 0.1;
    color: #719E89;
}
.nav-icon{
    background-color: #FFFFFF;
    color: #356D53;
    padding: 10px;
    font-size: 15px;
}
.card-holder{
    margin-top: 70px;
    padding: 0 0 5% 0;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.pic-card{
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.imgcard{
    flex: 1;
    background-position: center;
    background-size: contain;
    position: relative;
    top: 0;
    background-repeat: no-repeat;
    max-height: 60vh;
}
.Card{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin:0 5px;
    background: rgba(19,107,73, 0.9);
    backdrop-filter: blur(10px);
}
.Card-2{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin:0 5px;
    background: rgba(19,107,73, 0.9);
    backdrop-filter: blur(10px);
}
.Card-2 h1 {
    color: white;
    font-size: 30px;
    padding: 10px 0 10px 10px;
}
.Card-2 p{
    color: white;
    font-size: 14px;
    padding: 0 0 20px 10px;
}
.Card h1 {
    color: white;
    font-size: 30px;
    padding: 10px 0 10px 10px;
}
.Card p{
    color: white;
    font-size: 14px;
    padding: 0 0 20px 10px;
}
.fix-pic{
    width: 100%;
    height: 35vh;
    background-image: url("image/test 2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap:wrap;
    text-align: center;
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.4;
}
.fix-pic h3{
    z-index: 1;
    width: 100%;
    padding: 25px 0 0 0;
    font-size: 25px;
}
.fix-pic p{
    z-index: 1;
    padding: 20px 25px 50px 25px;
    text-align: center;
    width: 100%;
}
.icon-3{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
    padding: 85px 0;
}
.icon-box{
    width: 24%;
    text-align: center;
    margin: 0 0 0 0;
}
.icon-box i{
    font-size: 40px;
    color:#719E89;
    padding-bottom: 5px;
}
.icon-box h3{
    font-size: 18px;
    color:#719E89;
}
.icon-box p{
    padding-top:14px;
    font-size: 15px;
    color:white;

}
.slidebefore{
position: relative;
    width: 100%;
}
.sliderbox{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding:0;
    z-index: 4;

}
.sliderbox::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    background: linear-gradient( to right, rgba(0,0,0,1) 0%, rgba(49,49,49,0.1)  40%);
}
.sliderbox::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    background: linear-gradient( to left, rgba(0,0,0,1) 0%, rgba(49,49,49,0.1)  40%);
}
.sliderbox .carousel{
    max-width: 1200px;
    margin: auto;

}
.carousel .slide{
    width:350px;
    height: 391px;
    margin: 0 auto;
    align-items: center;
}
.slide img{
    height: 391px;
    width: 350px;
}
.color-line{
    position: absolute;
    top: 200px;
    width:100%;
    height: 100px;
    background-color: green;
}
.color-line h1 {
    text-align: center;
}
.map-holder{
    margin-top:110px;
    display: flex;
    flex-wrap: wrap;
    justify-items:center ;
    justify-content: center;
    width: 100%;
    background-color: #356D53;
}
.map img{
    padding: 20px 0;
    width: 100%;
    object-fit: contain;
}
.loc{
    font-size: 16px;
    height: 54px;
    display: flex;
}
.loc img{
    margin-right: 20px;
    width: 27px;
    height: 33px;
}
.contact{
    padding:30px 0 ;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.col-s{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 20%;
    margin: 10px;

}

.col-s img{
    margin-right: 20px;
    width: 30px;
    height: 24px;
}
.slider_nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.am-prev{
    position: absolute;
    left: 0;
}
.am-next{
    position: absolute;
    right: 0;
}
.owl-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: absolute;
    top:-10px;
    z-index: 11;
}
.Caricon{
    border: none;
    color: #356D53;
    font-size: 37px;
    margin: auto auto;
    background-color: #FFFFFF;
    width: 37px;
    height: 37px;
    z-index: 12;
}
footer{
    background-color: #1B4D36;
    display: flex;
    justify-content: center;
}
footer p{
    margin: 10px 0;
}
.slidebefore{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.slidebefore h4{
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 50px;
}
.slidebefore span{
    margin-top: 20px;
    color: #A7FFD6;
    cursor: pointer;

}
@media only screen and (max-width:700px){
    .nav-under{
        display: none;
    }
    .title{
        display: none;
    }
    .title-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

    }
    nav{
        text-align: right;
    }
    nav ul{
        width: 100%;
        background: #707070;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: none;
        margin-top: 10px;
        margin-bottom: 10px;


     }
    nav ul li a{
        color:red;
    }
    .menu-icon{
        display: block;
    }
    .row{
        flex-direction:column-reverse;
        margin: 0 0 50px 0;
    }
    .card-holder{
        display: flex;
        flex-direction: column;
    }
    .Card{
        width: 90%;
        display: flex;
        flex-direction: row;
        margin: 10px 0;
    }
    .Card-2{
        width: 90%;
        display: flex;
        flex-direction: row-reverse;
        margin: 10px 0 10px 10% ;
    }
    .imgcard{
        flex: 1;
        position: relative;
        background-size: cover;
        background-position: center;
        max-height: 60vh;
        max-width: 100%;
    }
    .content{
        flex: 1;
    }
    .pic-card{
        object-fit:cover;
        width: 100%;
        height: 100%;
    }
    .card-2{

        position: absolute;
        right: 0;
    }
    .icon-3{
        flex-direction: column;
        align-items: center;

    }
    .icon-box{
        margin: 20px 0;
        width: 75%;
        text-align: center;
    }
    .map-holder{
        flex-direction: column;
        align-items: flex-start;
    }
    .contact{
        flex-direction: column;

    }
    .col-s {
        display: flex;
        justify-content: left;
        width: 100%;
        margin: 10px 10px;
    }
    .loc{
            width: 100%;
        height: auto;
        margin: 5px 0 0 18px;
    }
    .loc img{
        margin-right: 20px;
        width: 30px;
        height: 32px;
    }
}